@media screen and (max-width: 1375px) {
    .panel-left-wrapper {
        flex: 1 !important;
    }

    .panel-left-text>p {
        font-size: 60px;
    }

    .login-arrow-dots {
        display: none;
    }

    .forgot-pw>h1 {
        font-family: "Roboto Condensed", sans-serif;
        font-size: 36px;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 0;
        margin-top: 25px;
    }

    /* Remember me toggle switch */

    .switch {
        width: 45px;
        height: 23px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked+.slider:before {
        -webkit-transform: translateX(21px);
        -ms-transform: translateX(21px);
        transform: translateX(21px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 11px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .input-wrapper .remember-me {
        font-size: 18px;
        margin-left: 14px;
    }

    .input-field>i {
        font-size: 20px;
    }

    .input-field>input {
        font-size: 20px;
        padding: 12px 10px;
    }

    .panel-right-inner-top-buttons button {
        font-size: 16px;
        padding: 14px 40px;
    }

    .inner-top-container form {
        padding: 0 55px;
    }

    .panel-right-inner-bottom {
        margin: 0 55px;
    }
}